<div class="wrapper">
    <div class="profile-background filter-black"></div>
    <div class="profile-content section-nude">
        <div class="container">
            <div class="row owner">
                <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                    <div class="avatar">
                        <img src="/paper_img/placeholder.jpg" alt="Circle Image"
                             class="img-circle img-no-padding img-responsive">
                    </div>
                    <div class="name">
                        <h4>{{user.nick}}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h5><i class="fa fa-envelope-o fa-fw text-muted"></i> {{{user.email}}}</h5>
                    <h5><i class="fa fa-map-marker fa-fw text-muted"></i>
                        {{#if user.address}}
                            {{{user.address}}}
                        {{else}}
                            no address
                        {{/if}}</h5>
                    <h5><i class="fa fa-tags fa-fw text-muted"></i>
                        {{#if user.hashtags}}
                            {{{user.hashtags}}}
                        {{else}}
                            no hashtags
                        {{/if}}</h5>
                    <a href="/profile/settings" class="btn"><i class="fa fa-cog"></i> Settings</a>
                    </br>
                    </br>
                    <a href="/share" class="btn btn-"><i class="fa fa-wrench"></i> Manage your shares</a>
                </div>
            </div>
            <div class="profile-tabs">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#following"
                                                  data-toggle="tab">Following</a></li>
                            <li><a href="#followers" data-toggle="tab">Followers</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="following">
                        {{#each following}}
                            <div class="row">
                                <div class="col-md-7 col-md-offset-3">
                                    <ul class="list-unstyled following">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-2 col-md-offset-0 col-xs-3 col-xs-offset-2">
                                                    <img src="paper_img/placeholder.jpg" alt="Circle Image"
                                                         class="img-circle img-no-padding img-responsive">
                                                </div>
                                                <div class="col-md-7 col-xs-4">
                                                    <h5>{{{nick}}}<br>
                                                        <small><i class="fa fa-envelope-o fa-fw text-muted"></i>
                                                            {{{email}}}</small>
                                                    </h5>
                                                </div>
                                                <div class="col-md-3 col-xs-2">
                                                    <div class="unfollow" rel="tooltip" title="Unfollow">
                                                        <label class="checkbox checked" for="checkbox1">
                                                            <span class="icons">
                                                                <span class="first-icon fa fa-circle-o fa-base"></span>
                                                                <span class="second-icon fa fa-check-circle-o fa-base"></span>
                                                            </span>
                                                            <input type="checkbox" value="" id="checkbox1"
                                                                   data-toggle="checkbox" checked="">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                    </ul>
                                </div>
                            </div>
                        {{/each}}
                        <div class="tab-pane text-center" id="following">
                            <a href="/search" class="btn btn-warning btn-fill">Search for friends</a>
                        </div>
                    </div>
                    <div class="tab-pane text-center" id="followers">
                        {{#each followers}}
                            <div class="row">
                                <div class="col-md-7 col-md-offset-3">
                                    <ul class="list-unstyled following">
                                        <li>
                                            <div class="row">
                                                <div class="col-md-2 col-md-offset-0 col-xs-3 col-xs-offset-2">
                                                    <img src="paper_img/placeholder.jpg" alt="Circle Image"
                                                         class="img-circle img-no-padding img-responsive">
                                                </div>
                                                <div class="col-md-7 col-xs-4">
                                                    <h5>{{{nick}}}<br>
                                                        <small><i class="fa fa-envelope-o fa-fw text-muted"></i>
                                                            {{{email}}}</small>
                                                    </h5>
                                                </div>
                                                <div class="col-md-3 col-xs-2">
                                                    <div class="unfollow" rel="tooltip" title="Unfollow">
                                                        <label class="checkbox checked" for="checkbox1">
                                                            <span class="icons">
                                                                <span class="first-icon fa fa-circle-o fa-base"></span>
                                                                <span class="second-icon fa fa-check-circle-o fa-base"></span>
                                                            </span>
                                                            <input type="checkbox" value="" id="checkbox1"
                                                                   data-toggle="checkbox" checked="">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <hr>
                                    </ul>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>