<div class="wrapper">
    <div class="profile-background"></div>
    <div class="container">
        <div class="row owner">
            <div class="avatar col-md-2 col-md-offset-5">
                <img src="/paper_img/placeholder.jpg" alt="Circle Image"
                     class="img-circle img-no-padding img-responsive">
            </div>
            <div class="form-group-lg col-md-6 col-md-offset-3">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#personal" data-toggle="tab">Personal</a></li>
                            <li><a href="#profile" data-toggle="tab">Password</a></li>
                        </ul>
                    </div>
                </div>
                <div id="my-tab-content" class="tab-content text-center">
                    <div class="tab-pane active" id="personal">
                        <form method="post" class="form-group-lg text-center">
                            <fieldset>
                                <label>Address</label>
                                <input type="text" name="address" value="{{{user.address}}}"
                                       placeholder="Your address like: Paris, France"
                                       class="form-control form-group"/>

                            <label>#Hashtags</label>
                            <input type="text" name="hashtags" value="{{{user.hashtags}}}"
                                   placeholder="#tag separated with spaces"
                                   class="form-control form-group"/>

                            <label>Avatar picture's URL</label>
                            <input type="url" name="avatar" value="{{{user.avatar}}}"
                                   placeholder="https://site.com/img.jpg"
                                   class="form-control form-group"/>

                            </fieldset>
                            <button class="btn">Save</button>
                        </form>
                    </div>
                    <div class="tab-pane" id="profile">
                        <form method="post" class="form-group-lg text-center">
                            <fieldset>
                                <label>Current password</label>
                                <input type="password" placeholder="Enter your old password" name="old_password"
                                       class="form-control form-group"/>

                                <label>New password</label>
                                <input type="password" placeholder="Enter your new password" name="new_password"
                                       class="form-control form-group">

                                <label>New password again</label>
                                <input type="password" placeholder="Enter your new password again"
                                       name="old_password_again"
                                       class="form-control form-group"/>

                            </fieldset>
                            <button class="btn">Save</button>
                        </form>
                    </div>
                </div>
                <div class="space-100"/>
            </div>
        </div>
    </div>
</div>