<div class="wrapper">
    <div class="landing-header" style="background-image: url('/paper_img/index.jpg');">
        <div class="container">
            <h1 class="title">Welcome on ShairIT</h1>
            <h3>Start and share your stuff safely and fast!</h3>
            <a href="/share" class="btn"></i>Share</a>
            <a href="/login" class="btn">Sign in</a>
        </div>
    </div>
</div>
