<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/paper_img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>ShairIT</title>

    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">

    <link href="/lib/bootstrap3/css/bootstrap.css" rel="stylesheet">
    <link href="/lib/bootstrap3/css/ct-paper.css" rel="stylesheet">
    <link href="/lib/bootstrap3/css/demo.css" rel="stylesheet">
    <link href="/lib/bootstrap3/css/examples.css" rel="stylesheet">

    <link href="/lib/bootstrap3/css/rotating-card.css" rel="stylesheet"/>

    <link href="/lib/bootstrap3/css/fresh-bootstrap-table.css" rel="stylesheet"/>

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

</head>
<body>
<nav class="navbar navbar-default" role="navigation-demo" id="demo-navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ShairIT</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <input type="text" id="searchInput" name="search" class="input-sm" placeholder="Search for buddies"/>
                <button id="searchButton" class="btn btn-simple">Search</button>
                {{#if loggedIn}}
                    <a href="/profile" class="btn btn-simple">Welcome, {{user.nick}}</a>
                    <a href="/logout" class="btn btn-simple">Logout</a>
                {{else}}
                    <a href="/login" class="btn btn-simple">Register/Login</a>
                {{/if}}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-->
</nav>
{{#each messages}}
    <div class="alert alert-success landing-alert">
        <div class="container text-center">
            <h5>{{this}}</h5>
        </div>
    </div>
{{/each}}

{{#each errorMessages}}
    <div class="alert alert-danger landing-alert">
        <div class="container text-center">
            <h5>{{this}}</h5>
        </div>
    </div>
{{/each}}

{{{body}}}

<footer class="footer-demo">
    <div class="container">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="http://gulyas.ddns.net">Gergo Gulyas</a>
                </li>
                <li>
                    <a href="mailto:gulyas.greg@gmail.com"><i class="fa fa-envelope"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/gui.greg" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/gui.greg" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; 2015, Gergo Gulyas
        </div>
    </div>
</footer>

<!-- Javascript -->
<script src="/lib/bootstrap3/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/lib/bootstrap3/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/lib/bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" src="/lib/bootstrap3/js/bootstrap-table.js"></script>

<script type="text/javascript">


    $().ready(function () {
        var $table = $('#fresh-table'),
                $alertBtn = $('#alertBtn'),
                full_screen = false;

        $table.bootstrapTable({
            toolbar: ".toolbar",

            showRefresh: true,
            search: true,
            showColumns: true,
            pagination: true,
            striped: true,
            sortable: true,
            pageSize: 8,
            pageList: [8, 10, 25, 50, 100],

            formatShowingRows: function (pageFrom, pageTo, totalRows) {
                //do nothing here, we don't want to show the text "showing x of y from..."
            },
            formatRecordsPerPage: function (pageNumber) {
                return pageNumber + " rows visible";
            },
            icons: {
                refresh: 'fa fa-refresh',
                columns: 'fa fa-columns',
                detailOpen: 'fa fa-plus-circle',
                detailClose: 'fa fa-minus-circle'
            }
        }),
                $('#searchButton').on('click', function (e) {
                    var search = $('#searchInput').val().trim();
                    if (search.indexOf('#') > -1) {
                        window.location.pathname = '/search/hash/' + search;
                    } else {
                        window.location.pathname = '/search/nick/' + search;
                    }
                }),
                $(function () {
                    $alertBtn.click(function () {
                        alert("You pressed on Alert");
                    });
                });

    });
</script>
</body>
</html>