<div class="section-gray">
    <div class="container">
        <div class="row">
            <h1 class="title">
                <small>Here are the {{sizeof searchResult}} result for your search:</small>
            </h1>
            <div class="col-sm-10 col-sm-offset-1">
                {{#each searchResult}}
                    <div class="col-md-4 col-sm-6">
                        <div class="card-container">
                            <div class="card">
                                <div class="front">
                                    <div class="cover">
                                        <img src="/paper_img/card_back.png"/>
                                    </div>
                                    <div class="user">
                                        <img src="/paper_img/placeholder.jpg" alt="Circle Image"
                                             class="img-circle img-no-padding img-responsive"/>
                                    </div>
                                    <div class="content">
                                        <div class="main">
                                            <h2 id="nick" class="name">{{{nick}}}</h2>
                                            <h5 id="email"><i class="fa fa-envelope-o fa-fw text-muted"></i> {{{email}}}
                                            </h5>
                                            <h5><i class="fa fa-map-marker fa-fw text-muted"></i>
                                                {{#if address}}
                                                    {{{address}}}
                                                {{else}}
                                                    no address
                                                {{/if}}</h5>
                                            <h5><i class="fa fa-tags fa-fw text-muted"></i>
                                                {{#if hashtags}}
                                                    {{{hashtags}}}
                                                {{else}}
                                                    no hashtags
                                                {{/if}}</h5>
                                        </div>
                                    </div>
                                </div>
                                <!-- end front panel -->
                                <div class="back">
                                    <div class="header">
                                        <h5 class="motto">You can follow/unfollow or create a share.</h5>
                                    </div>
                                    <div class="content text-center">
                                        <form method="post">
                                            <input name="id" value="{{{id}}}" hidden/>
                                            {{#if yourFriend}}
                                                <button name="follow" value="true" class="btn">Unfollow</button>
                                            {{else}}
                                                <button name="follow" value="true" class="btn">Follow</button>
                                            {{/if}}
                                        </form>

                                        <div class="space-50"></div>

                                        <form method="post">
                                            <input name="id" value="{{{id}}}" hidden/>
                                            <button name="share" value="true" class="btn">Create a </br>share to this
                                                user
                                            </button>
                                        </form>

                                        <div class="space-110"></div>
                                    </div>
                                    <!--
                                    <div class="footer">
                                        <div class="social-links text-center">
                                            <a href="http://creative-tim.com" class="facebook"><i
                                                    class="fa fa-facebook fa-fw"></i></a>
                                            <a href="http://creative-tim.com" class="google"><i
                                                    class="fa fa-google-plus fa-fw"></i></a>
                                            <a href="http://creative-tim.com" class="twitter"><i
                                                    class="fa fa-twitter fa-fw"></i></a>
                                        </div>
                                    </div>-->
                                </div>
                                <!-- end back panel -->
                            </div>
                            <!-- end card -->
                        </div>
                    </div>
                {{/each}}
                <!-- end card-container -->
            </div>
        </div>
    </div>
</div>