<div class="register-background">
    <div class="filter-black"></div>
    <div class="container">
        <div class="col-md-6 col-md-offset-4">
            <div class="register-card">
                <h3 class="title">Welcome</h3>

                <form id="login" method="post">
                    <label>Nick</label>
                    <input class="form-control btn-tooltip" placeholder="Enter your nick" required id="nick"
                           name="nick"/>

                    <label>Password</label>
                    <input type="password" class="form-control btn-tooltip" placeholder="Enter your password" required
                           pattern="{8,}" id="password" name="password"/>

                    <button class="btn btn-neutral btn-block">Login</button>
                </form>
                <div class="forgot">
                    <a href="#" class="btn btn-simple btn-neutral">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
