
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/png" href="/paper_img/favicon.ico">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	
	<title>Registration / Login </title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    
    
    <link href="/lib/bootstrap3/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/bootstrap3/css/ct-paper.css" rel="stylesheet"/>
    <link href="/lib/bootstrap3/css/demo.css" rel="stylesheet"/>
    <link href="/lib/bootstrap3/css/examples.css" rel="stylesheet" /> 
         
        
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
      
</head>
<body>
    <nav class="navbar navbar-ct-transparent navbar-fixed-top" role="navigation-demo" id="register-navbar">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">ShairIT</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
          <ul class="nav navbar-nav navbar-right">
                <a href="/" class="btn btn-simple">Homepage</a>
                <a href="" class="btn btn-simple"></a>
           </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-->

      {{#each errorMessages}}    
      <div class="alert alert-danger landing-alert">
           <div class="container text-center">
               <h5>{{this}}</h5>
          </div>
      </div>
      {{/each}}

    </nav> 

    {{{body}}}      

</body>

<script src="/lib/bootstrap3/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/lib/bootstrap3/js/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>

<script src="/lib/bootstrap3/js/bootstrap.js" type="text/javascript"></script>

<!--  Plugins -->
<script src="/lib/bootstrap3/js/ct-paper-checkbox.js"></script>
<script src="/lib/bootstrap3/js/ct-paper-radio.js"></script>
<script src="/lib/bootstrap3/js/bootstrap-select.js"></script>
<script src="/lib/bootstrap3/js/bootstrap-datepicker.js"></script>

<script src="/lib/bootstrap3/js/ct-paper.js"></script>

<script>
    $(document).ready(function(){
        var link = $('.navbar-right').children()[1];
      var url = window.location.pathname;
      if(url.indexOf('reg') > -1) {
          link.href = '/login';
        link.text = 'Login'
      } else {
          link.href = '/login/reg';
          link.text = 'Registration'
      }

      $("#regForm").on("submit", function(e) {
        var password = $("#password");
        var confirmPassword = $("#passwordCheck");

        if (password.val() != confirmPassword.val()) {
          $('#matcher').attr('class', 'form-group has-error has-feedback');
          $('#matcher').append('<span class="fa fa-times form-control-feedback"></span>');
          e.preventDefault();
        }
      });    
    });
</script>
    
</html>