<div class="register-background">
    <div class="filter-black"></div>
    <div class="container">
        <div class="col-md-6 col-md-offset-4">
            <div class="register-card">
                <h3 class="title">Welcome</h3>

                <form method="post" id="regForm">
                    <fieldset>
                        <label>Email</label>
                        <input type="email" class="form-control btn-tooltip" placeholder="Enter your email" required
                               data-toggle="tooltip" data-placement="left"
                               title="It has to be a valid email address (XYZ@XY.XY)"
                               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" id="email" name="email"/>

                        <label>Nick name</label>
                        <input class="form-control btn-tooltip" placeholder="Enter your nick" required id="nick"
                               name="nick"/>

                        <label>Password</label>
                        <input type="password" class="form-control btn-tooltip" placeholder="Enter your password"
                               required
                               data-toggle="tooltip" data-placement="left" title="The password has to contain at least one digit (0-9)
								and one capital character (A-Z) and also it need to be at least 8 character long"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="password" name="password"/>

                        <label>Password again</label>
                        <div id=matcher>
                            <input type="password" class="form-control btn-tooltip"
                                   placeholder="Enter your password again" required
                                   data-toggle="tooltip" data-placement="left" title="The two password should match"
                                   id="passwordCheck"/>
                        </div>
                    </fieldset>

                    <button class="btn btn-neutral btn-block">Registration</button>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
