<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="description text-center">
                <h2>{{{user.nick}}} here are your shares</h2>
            </div>

            <div class="fresh-table full-color-orange" style="display: block;">
                <!--    Available colors for the full background: full-color-blue, full-color-azure, full-color-green, full-color-red, full-color-orange
                        Available colors only for the toolbar: toolbar-color-blue, toolbar-color-azure, toolbar-color-green, toolbar-color-red, toolbar-color-orange
                -->

                <!--<div class="toolbar">
                    <button id="alertBtn" class="btn btn-default">Alert</button>
                </div>-->

                <table id="fresh-table" class="table">
                    <thead>
                    <th data-field="id">ID</th>
                    <th data-field="Owner">Owner</th>
                    <th data-field="To">To</th>
                    <th data-field="url">URL</th>
                    <th data-field="actions">Actions</th>
                    </thead>
                    <tbody>
                    {{#each shares}}
                        <tr>
                            <td>{{{id}}}</td>
                            <td>{{{owner}}}</td>
                            <td>{{{to}}}</td>
                            <td>{{{url}}}</td>
                            <td>
                                <!--<form method="post">
                                    <input name="edit" value="true" hidden/>
                                    <input name="id" value="{{{id}}}" hidden/>
                                    <a onclick="parentNode.submit();" rel="tooltip" title="Edit" class="table-action edit" title="Edit">
                                        <i class="fa fa-edit"></i></a>
                                </form>-->
                                </form>
                                <form method="post">
                                    <input name="delete" value="true" hidden/>
                                    <input name="id" value="{{{id}}}" hidden/>
                                    <a onclick="parentNode.submit();" rel="tooltip" title="Delete"
                                       class="btn btn-simple table-action delete" title="Delete">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>